 <% include layout %>
<body>
	<p>HTML</p>
	<div class="container">
		<div class="jumbotron">
			<form method="post" action="/add">
				<input type="text" name="link" placeholder="Link" class="form-control"><br>
				<input type="submit" name="submit" class="form-control">
			</form>
		</div>
	</div>
</body>
</html>
